<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">In Progress</p>
                            <h3 class="title">49</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger"></i> <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">icon</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Completed</p>
                            <h3 class="title">500</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Urgency Issues</p>
                            <h3 class="title">75</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-task"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Not Started</p>
                            <h3 class="title">5</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">LOCO</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Pending Issues</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Emergency Issues</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-nav-tabs" >
                        <div class="card-header">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title" style="color:white">My Tasks:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab"  data-background-color="orange">
                                                <i class="material-icons"></i>
                                                Pending
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#messages" data-toggle="tab"  data-background-color="green">
                                                <i class="material-icons"></i>
                                                Completed
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#settings" data-toggle="tab"  data-background-color="red">
                                                <i class="material-icons"></i>
                                                Emergency
                                            <div class="ripple-container"></div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>LOCO ID</th>
                                                <th>REPAIRMAN</th>
                                                <th>STATUS</th>
                                                <th>DESCRIPTION</th>
                                                <th>ARRIVAL DATE</th>
                                                <th>ACTION</th>
                                            </tr>
                                            <tr *ngFor="let task of taskList">
                                                <td>{{task.locoId}}</td>
                                                <td>{{task.repairman}}</td>
                                                <td>{{task.status}}</td>
                                                <td>{{task.description}}</td>
                                                <td>{{task.arrivalDate}}</td>
                                                <td>{{task.date}}</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs" (click)="onEdit(task)">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="onDelete(task.$key)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td> 
                                            </tr>                                          
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>asdfasfadsfd
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>asdfasfadsfd</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn  btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>asdfasfadsfd</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>asdfasfadsfd
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>asdfasfadsfd</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="title">CREATE NEW TASK</h4>
                        </div>
                        <div class="card-content">
                            <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
                                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="taskService.selectedTask.$key">     
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">LOCO ID</label>
                                            <input #locoId="ngModel"  name="locoId" [(ngModel)]="taskService.selectedTask.locoId" type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Repairman</label>
                                            <input #repairman="ngModel" name="repairman" [(ngModel)]="taskService.selectedTask.repairman" type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Status</label>
                                            <div class="dropdown">
                                                <select #status="ngModel" class="btn btn-info statusDropdown" name="status" [(ngModel)]="taskService.selectedTask.status">
                                                    <option>Urgency</option>
                                                    <option>Completed</option>
                                                    <option>Not Started</option>
                                                    <option>In Progress</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Arrival Date</label>
                                                <input #arrivalDate="ngModel" name="arrivalDate" [(ngModel)]="taskService.selectedTask.arrivalDate" type="text" class="form-control" >
                                            </div>
                                        </div>
                                    </div>  
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Description</label>
                                            <input #description="ngModel"  name="description" [(ngModel)]="taskService.selectedTask.description" type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>         
                                <button type="submit" class="btn  pull-right" data-background-color="green" [disabled]="!taskForm.valid"><i class="fa fa-plus"></i> NEW TASK</button>
                                <button type="button" class="btn  pull-right" data-background-color="orange" (click)="resetForm(taskForm)"><i class="fa fa-repeat"></i> RESET</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                        <div class="card" >
                            <div class="card-header">
                                <h4 class="title">Employees Task Status</h4>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>RACF</th>
                                            <th>Name</th>
                                            <th>Title</th>
                                            <th>Pending Tasks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>4</td>
                                            <td>4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                
            </div>
        </div>
</div>
