<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Shop Locations</label>
                <div class="dropdown">
                    <select class="btn btn-info statusDropdown" (change) = "changeShop($event)">
                        <option *ngFor="let i of ptcShops">{{i.CITY_N}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                    <form class="navbar-form navbar-right" role="search">
                            <div class="form-group form-black is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i><div class="ripple-container"></div>
                            </button>
                        </form>
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">
                            LOCOMOTIVE IN OUR AREA</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>LOCO ID</th>
                                    <th>TRAN ID</th>
                                    <th>DEVICE ID</th>
                                    <th>LATITUDE</th>
                                    <th>LONGITUDE</th>
                                    <th>SPEED</th>
                                    <th>STRENGTH</th>
                                    <th>QUALITY</th>
                                    <th>SUBDIVISION</th>
                                    <th>DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let train of locomotives">
                                    <td>{{train.LOCO_I}}</td>
                                    <td>{{train.TRAIN_I}}</td>
                                    <td>{{train.DEVICE_I}}</td>
                                    <td>{{train.LATITUDE_M}}</td>
                                    <td>{{train.LONGITUDE_M}}</td>
                                    <td>{{train.LOCO_SPEED_M}}</td>
                                    <td>{{train.SIGNAL_STRENGTH_M}}</td>
                                    <td>{{task.SIGNAL_QUALITY_C}}</td>
                                    <td>{{task.TRANS_SUBDIV_C}}</td>
                                    <td>{{task.REPORT_EST_D}}</td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
